# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.DS_Store

# If your build process includes running collectstatic, you should
# consider adding the staticfiles directory to the ignore list.
# However, you may also want to keep the directory to include static assets 
# that aren’t managed by the Django staticfiles framework. 
staticfiles/

# If you don’t want to include translations in your repository, 
# uncomment this line to ignore the locale directory
# locale/

# If you want to include the test coverage report in your repository
# and you’re using coverage.py to generate it, 
# add this line to ignore the report
.coverage

# Add this line if you’re using flake8 to enforce a coding style guide
# and don’t want to include the report in your repository
.flake8

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo

# Django stuff:
local_settings.py
media/
static/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
